@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0c0f12c4;
    /* background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Fphotos%2Fbackground&psig=AOvVaw0f1hHyWfXeRD7bO5eldfpU&ust=1715609744359000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCIjb8bymiIYDFQAAAAAdAAAAABAE"); */

    /* height: 100vh; */
}

.lighter {
    background-color: #0c0f12fd;
}

.lighter2 {
    background-color: #22292ffd;

}

.bluish {
    color: #7caeb3;
    /* color: #b2dde3; */
}

::-webkit-scrollbar {
    margin-left: 10px;
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #182028c4;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #7caeb3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}